# Node
node_modules/
dist/

# Dataset / archive
archive/

# Trained model
diabetic_retinopathy_model.keras/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/